*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;
    font-size: 16px;
   

}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

#auth{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color:rgb(178, 123, 189);
    width: 500px;
    border-radius: 10px;
    margin-top: 70px;
}

.wrapper__email,
.wrapper__password,
.wrapper__repeat-password{
    margin-top: 30px;
    margin-bottom: 30px;
}


#email,
#password,
#repeat__password{
    display: block;
    padding: 15px 110px;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 20px;
    outline: none;
}

.label{
    font-size: 25px;
    color: azure
}

#btn__enter,
#btn__reg,
#btn__ready{
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 18px;
    background-color: rgba(21, 213, 226, 0.61);
    border: none;
    cursor: pointer;
    
}
#btn__enter{
    margin-right: 30px;
}


#btn__enter:hover{
    color:rgb(226, 192, 161);
}
#btn__reg:hover{
    color:sandybrown;
}
#btn__ready:hover{
    color:sandybrown;
}

.wrapper__repeat-password{
    display: none;
}

.wrapper__repeat-password-active{
    display: block;
}

.btn-ready{
    visibility: hidden;
}

.btn-ready-active{
    visibility: visible;
}

.error{
    display: block;
    color: red;
    font-size: 16px;
    
}

.success{
    visibility: hidden;
}


/*****menu**/


.menu__wrapper{
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.nav__list{
    display: flex;
    width: 100%;
    justify-content: space-between;
} 

.nav__item{
    list-style: none;
    margin-right: 2rem;
} 

.nav__item:first-child{
    text-decoration: underline;
}

.nav__link{
    text-decoration: none;
    font-size: 40px;
    line-height: 1.188rem;
    letter-spacing: -0.4px;
    color: purple;
    font-weight: 600;
    cursor: pointer;
} 

.hidden{
    display: none;
    visibility: hidden;
    opacity: 0;
}


.nav__link:hover{  
    color: rgb(11, 128, 0);
    cursor: pointer;
    text-decoration: underline;
} 

.nav__link:active{  
    color: rgb(11, 128, 0);
    cursor: pointer;
    text-decoration: underline;
} 


.title{
    text-align: center;
    padding: 50px;
    color:slateblue;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 2px;
}

